node_modules/
dist/
backend/.venv/
backend/__pycache__/
backend/pipeline/__pycache__/
backend/cache/*.png
*.pyc

node_modules/
dist/
backend/.venv/
backend/__pycache__/
backend/pipeline/__pycache__/
backend/cache/
*.pyc
*.zip
*.fbx
*.obj
*.glb
*.jpeg
*.jpg
*.png